
@using Shop.Models.ViewModels
@model ProductViewModel;

<h2>Edit Product</h2>

<div class="container offset-md-3 col-md-6">
    <form asp-action="EditProductConfirm" asp-controller="ManageProducts" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control" asp-for="EnglishName" placeholder="Product English Name" />
            <span asp-validation-for="EnglishName"></span>
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Price" placeholder="Product Price" />
            <span asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Count" placeholder="Available Product Count in Storage" />
            <span asp-validation-for="Count"></span>
        </div>
        <div class="form-group">
            <select asp-for="ProductType_Id" id="comboSelectProductType" class="form-control"></select>
            <span asp-validation-for="ProductType_Id"></span>
        </div>
        <div class="form-group">
            <select asp-for="Brand_Id" id="comboSelectProductBrand" class="form-control"></select>
            <span asp-validation-for="Brand_Id"></span>
        </div>
        <input type="hidden" asp-for="id" />
        <div id="FileInputs">
            <div style="border:2px solid blue; margin-top:4px; margin-bottom:4px; padding:4px;">
                <button type="button" class="btn btn-danger" id="btnRmv">Remove</button>
                <div class="custom-file">
                    <input class="custom-file-input" asp-for="Pictures" id="imgInput" />
                    <label class="custom-file-label">Choose...</label>
                </div>
                <span asp-validation-for="Pictures"></span>
                @if (Model.ImagesBase64List.Count>0)
                {
                    <img id="imgPreview" width="60" height="60" style="margin-top:10px; margin-bottom:10px; border-radius:30%" src="@Model.ImagesBase64List.First()"/>
                }
                else
                {
                    <img id="imgPreview" width="60" height="60" style="margin-top:10px; margin-bottom:10px; border-radius:30%"/>                     
                }

            </div>
        </div>
        <button name="Pictures" type="button" id="addMoreImgBtn" class="btn btn-primary" style="margin-bottom:6px;margin-top:6px;">+Add more Images</button>
        <br />

        <button class="btn btn-primary">Save changes</button>
    </form>
</div>
<script>
    $(function () {
        $.post('/admin/ManageProducts/ProductTypeComboItems', function (data) {
            $(comboSelectProductType).append(data);
        }).done(function () {
                $(comboSelectProductType).val(@Model.ProductType_Id);
            })
        $.post('/admin/ManageProducts/ProductBrandComboItems', function (data) {
            $(comboSelectProductBrand).append(data);
        }).done(function () {
            $(comboSelectProductBrand).val(@Model.Brand_Id);
            })
        $(addMoreImgBtn).click(function () {
            $(FileInputs).append(`
            <div style="border:2px solid blue; margin-top:4px; margin-bottom:4px; padding:4px;">
                <div class="custom-file">
                    <input class="custom-file-input" asp-for="Pictures" />
                    <label class="custom-file-label">Choose...</label>
                </div>
                <button type="button" class="btn btn-danger" id="btnRmv">Remove</button>
            </div>
            `);
        });
        $('#FileInputs').on("click", "btnRmv", function () {
            $(this).parent().remove();
        });
        $(function () {
            $('#imgInput').change(function () {
                var reader = new FileReader();
                reader.readAsDataURL(this.files[0]);
                reader.onload = function (e) {
                    document.getElementById('imgPreview').src = e.target.result;
                }
            })
        })
    })
</script>