
@{
    ViewData["Title"] = "insertBrand";
}

<h2>insertBrand</h2>

@using BehdadNematiFinalWebProject.Models.ViewModels
@model BrandViewModels

<div class="container">
    <form asp-action="insertBrandConfirm">
        <div class="form-group">
            <input class="custom-file-input" asp-for="Name" />
            <label class="custom-file-label">Choose Product image...</label>
            <span asp-validation-for="Name"></span>
        </div>
    </form>
</div>
