@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BehdadNematiFinalWebProject.Models;
@model List<Brand>;
@{
    foreach (var item in Model)
    {
        <option value="@item.Id">@item.name</option>
    }
}