
@using Shop.Models;
@model List<ProductType>
<h2>Set Top Products</h2>
<div class="container offset-md-1 col-md-10">
    @foreach (var item in Model)
    {
        <div class="container">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" value="1"/>    
                <label class="form-check-label">@item.Name</label>
            </div>
            <div class="container offset-md-2" id="TypeProducts" style="border:2px solid; border-color:blue">
                
            </div>
        </div>
        <hr/>
    }
</div>
<script>
    function LoadItems (t) {
        @*$.post("/admin/manageProducts/TypeProductsItems", {TypeId:@item.Id}, function (data) {
            $(TypeProducts).html(data)
        })*@
    }
</script>

