
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Chat</h1>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<div class="container col-md-10">
    <div style=" padding:10px; margin-top:15px; margin-bottom:5px;">
        <div id="divmessages" style="border-color:#808080" class="container">
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="form-group mb-2">
                    <input id="txtmessage" class="form-control" placeholder="Type something...">
                </div>
            </div>
            <button class="btn btn-primary mb-2" id="btnsend">Send (Enter)</button>
        </div>
    </div>
</div>
<script>
    $(function () {

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/ChatHub").build();
        var partnerName;
        var partnerUserName;

        connection.start().then(function () {
            console.log('Connected Successfully')
            connection.invoke("RegisterUser");
            connection.on("RecivePartnerCredentials", function (name, username) {
                partnerName = name;
                partnerUserName = username;
            });
            connection.on("SendMessageServerToUserClient", function (message) {
                $(divmessages).append(`<div class="row" style="background-color:#ff6a00; height:40px;border-radius:4px;"><b>&nbsp ${partnerName}: &nbsp</b>${message}</div><br />`)
            })

        }).catch(function (err) { alert(err.toString()) })

        $(document).keypress(function (e) {
            if (e.which == 13) {
                $(btnsend).click();
            }
        })
        $(btnsend).click(function () {
            connection.invoke("SendMessageUserClientToServer", $(txtmessage).val(), partnerUserName);
            $(divmessages).append(`<div class="row" style="background-color:#0094ff; height:40px;border-radius:4px;"><b>&nbsp Me: &nbsp</b>${$(txtmessage).val()}</div><br />`)
            $(txtmessage).val("");
        })

    })
</script>


